@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
	font-weight: 400;
	font-display: swap;
  src: url("../atkinson/Atkinson-Hyperlegible-Regular-102.woff2") format("woff2"),
       url("../atkinson/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
	font-weight: 600;
	font-display: swap;
  src: url("../atkinson/Atkinson-Hyperlegible-Bold-102.woff2") format("woff2"),
       url("../atkinson/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
}
