@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("assets/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2")
       url("assets/atkinson/Atkinson-Hyperlegible-Regular-102a.woff") format("woff");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 600;
  src: url("assets/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2")
       url("assets/atkinson/Atkinson-Hyperlegible-Bold-102a.woff") format("woff");
}

:root {
	--sans: "Atkinson Hyperlegible";
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;

	--bold: 600;
	--normal: 400;
	
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	--black: #000;
	--off-black: #282828;
	--gray-dark: #5b5b5b;
	--gray: #949494;
	--gray-light: #c9c9c9;
	--off-white: #f0f0f0;
	--white: #fff;
	
	/* --purple: #a239ca;
	--purple-light: #dfbaed;
	--blue: #5b30f8;
	--blue-light: #baa9f9;
	--green: #2a837e;
	--green-light: #8fdcd9; */

	/* --red: #ff533d; */
	/* --yellow: #e5e338; */
	
	--brown: #272425;

	--pink: #ff9de6;
	--pinkHS: 315, 100%;
	--blue: #a5d8f3;
	--blueHS: 201, 76%;
	--yellow: #e8e500;
	--yellowHS: 59, 100%; 
	--purple: #3d2a7e;
	
	--bg1: var(--yellow);
	--bg2: var(--pink);
	--bg3: var(--blue);
	--fg1: hsl(var(--yellowHS), 14%);
	--fg2: hsl(var(--pinkHS), 18%);
	--fg3: hsl(var(--blueHS), 20%);
	--dg1: hsl(var(--yellowHS), 26%);
	--dg2: hsl(var(--pinkHS), 38%);
	--dg3: hsl(var(--blueHS), 39%);

	/* --fg1: var(--purple); */
	/* --fg2: var(--purple);
	--fg3: var(--purple); */
	
	--fg: var(--purple);
	--bg: var(--white);
	--primary: var(--purple);
	--secondary: var(--purple);

	/* water.css */

	--body-font: var(--sans);
	--background-body: var(--bg);
  --background: var(--off-white);
  --background-alt: var(--off-white);
  --selection: var(--gray);
  --text-main: var(--fg);
  --links: var(--fg);
  --focus: var(--fg);
  --border: var(--bg);
  --animation-duration: 0.1s;
  --button-hover: var(--gray-light);
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(-3%));
  --scrollbar-thumb-hover: color-mod(var(--button-hover) lightness(-10%));
	--form-placeholder: var(--gray-dark);
	--form-font: var(--sans);
	--form-text: var(--gray-dark);
	--input-thumb: var(--gray-dark);
	--highlight: var(--yellow);
	
	--nav-height: 128px;
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
}

/* pudding */
.wordmark svg path {
	fill: var(--fg);
}

/* story */
b, strong {
	font-weight: var(--bold);
}

body {
	font-weight: var(--normal);
}

mark {
	padding: 0 0.25em;
}

main {
	height: 100vh;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-container-horizontal .swiper-slide:nth-of-type(1) {
	/* background-color: var(--fg);
	color: var(--bg); */
}

.swiper-container-horizontal .swiper-slide:nth-of-type(2) .swiper-slide {
	--fg: var(--fg1);
	--bg: var(--bg1);
	--default: var(--dg1);
	background-color: var(--bg1);
	color: var(--fg1);
	--highlight: var(--bg3);
	--border: var(--dg1);
	--background-alt: var(--bg1);
}

.swiper-container-horizontal .swiper-slide:nth-of-type(3) .swiper-slide {
	--fg: var(--fg2);
	--bg: var(--bg2);
	--default: var(--dg2);
	background-color: var(--bg2);
	color: var(--fg2);
	--highlight: var(--bg1);
	--border: var(--dg2);
	--background-alt: var(--bg2);
}

.swiper-container-horizontal .swiper-slide:nth-of-type(4) .swiper-slide {
	--fg: var(--fg3);
	--bg: var(--bg3);
	--default: var(--dg3);
	background-color: var(--bg3);
	color: var(--fg3);
	--highlight: var(--bg1);
	--border: var(--dg3);
	--background-alt: var(--bg3);
}

.swiper-container-vertical .slide-content:nth-of-type(n + 1) {
	padding-top: var(--nav-height);
}
